* {
    background-color: rgb(25, 25, 49);
    text-align: center;
}
.stupid {
    color: rgb(25, 25, 49);
}
.header {
    color: white;
    text-align: center;
}
#coin-title, #coin-price, .coin-price, #coin-information{
    color: white;
}
.container {
    display: flex;
    justify-content: center;
}

#coins {
  max-width: 800px;
  gap: 10px;
}
.coin {
    height: 90px;
    width: 90px;
}
.info {
    font-size: 30px;
}
.toggle {
    color: white;
}
.header-container {
    display: flex;
    justify-content: space-between;
    color: white;
}
.dark {
    background-color: white
}
#search, #input {
    color: white;
    transition: 0.5s ease-in;
}
#input {
    width: 300px;
    border-radius: 20px;
    border: 3px rgb(148, 42, 42);
}
#search:hover {
    background-color: beige;
    color: black;
}
#form {
    border-radius: 10px;
}
@media screen {
    
}
.hidden {
    display: none;
}
@media screen and (max-width: 1000px) {
    .coin {
        height: 50px;
        width: 50px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    
  }