* {
    background-color: var(--primary-color); /*merge*/
    text-align: center;
}
.header {
    color: var(--secondary-color); /*Merge*/
    text-align: center;
}
#coin-title, #coin-price, .coin-price, #coin-information{
    color: var(--secondary-color); /*Merge*/
}
.container {
    display: flex;
    justify-content: center;
}

#coins {
  max-width: 800px;
  gap: 10px;
}
.coin {
    height: 90px;
    width: 90px;
}
.info {
    font-size: 30px;
}
#search, #input {
    color: var(--secondary-color); /*Merge*/
}
#form {
    border-radius: 10px;
}
@media screen {
    
}
.hidden {
    display: none;
}
@media screen and (max-width: 1000px) {
    .coin {
        height: 50px;
        width: 50px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    
  }
/*NEED TO MERGE BELOW*/
  #color-mode {
    width: 30px;
    cursor: pointer;
  }

  nav ul{
    text-align: right;
  }

  :root{
   --primary-color: #191931;
    --secondary-color: #fff; 
  }
.dark-theme {    
    --primary-color: #fff;
    --secondary-color: #191931;
    
  }

  ul {
    list-style-type: none;
  }

  .button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }