
* {
    background-color: var(--primary-color); /*merge*/
body {
    background-color: rgb(25, 25, 49);
    text-align: center;
}
.stupid {
    color: rgb(25, 25, 49);
}
.header {
    color: var(--secondary-color); /*Merge*/
    text-align: center;
}
#coin-title, #coin-price, .coin-price, #coin-information{
    color: var(--secondary-color); /*Merge*/
}
.container {
    display: flex;
    justify-content: center;
}
#coins {
  max-width: 800px;
  gap: 10px;
}
.coin {
    height: 90px;
    width: 90px;
}
.main-body {
    background-color: white;
    color: black;
}
.info {
    font-size: 30px;
}
.toggle {
    color: white;

}
.header-container {
    display: flex;
    justify-content: space-between;
    color: white;
}
.dark {
    background-color: white;
    color: black;
    
}
#search, #input {

    color: var(--secondary-color); /*Merge*/
=======
    color: white;
    transition: 0.5s ease-in;
}
#input {
    width: 300px;
    border-radius: 20px;
    border: 3px rgb(148, 42, 42);
}
#search:hover {
    background-color: beige;
    color: black;
}
#form {
    border-radius: 10px;
}
@media screen {
    
}
.hidden {
    display: none;
}
@media screen and (max-width: 1000px) {
    .coin {
        height: 50px;
        width: 50px;
    }
    .container {
        display: flex;
        flex-direction: column;
    }
    
  }
/*NEED TO MERGE BELOW*/
  #color-mode {
    width: 30px;
    cursor: pointer;
  }

  nav ul{
    text-align: right;
  }

  :root{
   --primary-color: #191931;
    --secondary-color: #fff; 
  }
.dark-theme {    
    --primary-color: #fff;
    --secondary-color: #191931;
    
  }

  ul {
    list-style-type: none;
  }

  .button {
    background-color: var(--secondary-color);
    border: none;
    color: var(--primary-color);
    width: 200px;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
  }